* {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 400; */
    font-style: normal;
}

body {
    box-sizing: border-box;
    background-color: white;
    border-inline-style: solid;
    border-inline-width: 50px;
    margin: 0;
}

.header {
    position: sticky;
    top: 1px;
    background-color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    font-size: 1.5rem;
}

.active {
    background: linear-gradient(to right, #FF6B6B, #992323);
    color: white;
    border-radius: 10px;
}

.contact-nav {
    margin-right: 230px;
}

.contact-nav a {
    padding: 0 20px;
}

nav a:hover {
    color: #FF6B6B;
}

.searchbar {
    background: linear-gradient(to right, #FF6B6B, #992323);
    padding: 10px;
}

.search-container {
    background-color: white;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    left: 75%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    margin: 50px;
}

.cards {
    background-color: rgb(236, 232, 232);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.cards:hover {
    border: 2px solid #992323;
}

.cards-2 {
    background-color: #FF6B6B;
    border-radius: 25px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.cards2 {
    background-color: #992323;
    border-radius: 25px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.images img {
    border: white;
    border-radius: 10px;
}

.content h2 {
    font-size: 2rem;
    font-weight: bold;
}

.card-image {
    background: linear-gradient(to bottom, #FF6B6B, white);
    padding: 10%;
    border-radius: 900px;
    width: 400px;
    height: 400px;
    margin: 0 90px;
}

.container-2 {
    margin: 40px;
}


.container-2 h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #992323;
}

.container-2 p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #992323;
}

.containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.cards-1 {
    border: 1px solid #992323;
    margin-right: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #c9c8c8 0px 1px 2px 1px;
}

.center {
    text-align: center;
}

.center h3 {
    color: #FF6B6B;
    font-size: 2rem;
    font-weight: bold;
}

.cards-1 p {
    color: black;
    font-weight: 600;
}

ul li {
    font-size: 1.5rem;
    font-weight: 600;
}

.cards-1:hover {
    background-color: #FF6B6B;
    color: white;
}

.center h3:hover {
    color: #992323;

}

.cards-1 p {
    color: black;
    font-weight: 600;
}

.container-3 {
    text-align: center;
}

.container-head {
    color: #992323;
}

.container-head p {
    font-size: 2rem;
    font-weight: bold;
}

.container-head h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 20px 15%;
}

.services-list h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.center-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 20px 25%;
}

.register {
    background-color: #992323;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: auto;
    padding: 40px;
}

.register-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.register-content p {
    font-size: 1.5rem;
}

.register button a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 20px;
    font-weight: bold;
}

.register button {
    background-color: #FF6B6B;
    border: #FF6B6B;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 40%;
}

.container-4 {
    text-transform: capitalize;
    text-align: center;
    margin: 20px 8%;
}

.container-4 h2 {
    font-size: 2.5rem;
    color: #FF6B6B;
    font-weight: bold;
}

.container-4 p {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background: linear-gradient(to right, #FF6B6B, #992323);
    color: white;
    padding: 20px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.footer h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer p {
    font-size: 1.3rem;
}

.contact {
    margin: 0 20px;
}

.flexx {
    display: flex;
    justify-content: flex-start;
}

.follow {
    margin: 0 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
}

.footer-logo h6 {
    padding: 0 20px;
}

@media (max-width:950px) {
    body {
        background-color: #FFFFFF;
        border-inline-style: none;
        border-inline-width: none;
    }
}

@media (max-width:767px) {
    body {
        background-color: #FFFFFF;
        border-inline-style: none;
        border-inline-width: none;
    }
}

@media (max-width:950px) {
    .search-container {
        position: relative;
        left: 55%;
    }
}

@media (max-width:767px) {
    .search-container {
        width: 250px;
        position: relative;
        left: 35%;
    }
}

@media (max-width:950px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        margin: 50px;
    }
}

@media (max-width:767px) {
    .container {
        margin: 10px;
    }
}

@media (max-width:950px) {
    .card-image img {
        width: 300px;
    }
}

@media (max-width:767px) {
    .card-image {
        background: linear-gradient(to bottom, #FF6B6B, white);
        padding: 10%;
        border-radius: 900px;
        width: 300px;
        height: 300px;
        margin: 0 50px;
    }

    .card-image img {
        width: 200px;
    }
}

@media (max-width:950px) {
    .containers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .cards-1 {
        margin: 10px;
    }
}

@media (max-width:767px) {
    .containers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .cards-1 {
        margin: 10px;
    }
}

@media (max-width:950px) {
    .services {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        margin: 20px 15%;
    }

    .center-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        margin: 20px 15%;
    }
}

@media (max-width:767px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 20px 15%;
    }

    .center-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 20px 15%;
    }
}

@media (max-width:767px) {
    .register {
        display: grid;
        grid-template-columns: 4fr;
        grid-row: auto;
        padding: 40px;
    }

    .register button {
        margin-left: 10%;
        margin-top: 10%;
    }

}

@media (max-width:950px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width:767px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .footer-logo {
        display: flex;
    }

}

@media (max-width:950px) {}

@media (max-width:767px) {}